body {
  font-family: 'Open Sans Condensed', sans-serif !important;
  min-height: 100%;
  display: flex;
  flex-direction: column; }
  body .wrapper {
    flex: 1; }
    body .wrapper header {
      text-align: center;
      background-color: transparent;
      position: absolute;
      margin-top: 26%;
      width: 100%;
      z-index: 999; }
      body .wrapper header .title {
        width: 70%;
        margin: 0 auto;
        padding: 0 auto;
        text-align: center;
        font-size: 35px;
        letter-spacing: 10px;
        font-weight: lighter;
        color: white; }
    body .wrapper .mainCarousel {
      margin-top: -75px; }
      body .wrapper .mainCarousel .item img {
        margin: 0 auto;
        width: 100%; }
    body .wrapper .contentWrapper {
      display: flex;
      flex-direction: row; }
      body .wrapper .contentWrapper #about {
        flex: 1;
        margin-top: 40px;
        margin-bottom: 20px; }
        body .wrapper .contentWrapper #about .aboutSection {
          width: 100%; }
          body .wrapper .contentWrapper #about .aboutSection h2 {
            font-size: 21px;
            margin-bottom: 10%; }
          body .wrapper .contentWrapper #about .aboutSection .aboutIcons {
            margin-top: 20px; }
            body .wrapper .contentWrapper #about .aboutSection .aboutIcons .aboutText {
              border: 1px solid #FFFFFF;
              border-radius: 5px;
              text-decoration: none;
              color: black;
              width: 75px;
              padding: 25px;
              padding-top: 10%;
              display: block;
              margin: 0 auto;
              margin-top: 8%;
              font-size: 20px; }
              body .wrapper .contentWrapper #about .aboutSection .aboutIcons .aboutText:first-child {
                margin-top: 30px; }
              body .wrapper .contentWrapper #about .aboutSection .aboutIcons .aboutText:hover {
                cursor: pointer;
                color: #41CCC6; }
      body .wrapper .contentWrapper #rooms {
        border-left: 1px solid #dfdfdf;
        flex: 3;
        margin-top: 40px; }
        body .wrapper .contentWrapper #rooms h2 {
          font-size: 21px; }
        body .wrapper .contentWrapper #rooms object {
          width: 70%;
          margin: auto;
          display: block;
          height: auto;
          position: relative; }
          body .wrapper .contentWrapper #rooms object svg {
            position: absolute;
            width: 100%;
            height: 100%;
            display: block; }
            body .wrapper .contentWrapper #rooms object svg .room-text {
              fill: white;
              font-size: 40px;
              cursor: pointer;
              -webkit-touch-callout: none;
              /* iOS Safari */
              -webkit-user-select: none;
              /* Safari */
              -khtml-user-select: none;
              /* Konqueror HTML */
              -moz-user-select: none;
              /* Firefox */
              -ms-user-select: none;
              /* Internet Explorer/Edge */
              user-select: none; }
            body .wrapper .contentWrapper #rooms object svg .roomSVGs {
              cursor: pointer;
              opacity: 0.4;
              position: absolute;
              fill: #FF6BE2;
              z-index: 999; }
              body .wrapper .contentWrapper #rooms object svg .roomSVGs:hover {
                fill: #b5d7e1; }
        body .wrapper .contentWrapper #rooms a {
          text-decoration: none;
          cursor: pointer; }
          body .wrapper .contentWrapper #rooms a #inquiryBox {
            background-color: #41CCC6;
            width: 60px;
            height: 50px;
            position: relative;
            bottom: 15vh;
            padding-top: 20px;
            padding-bottom: 40px;
            border-radius: 50%;
            float: left;
            border: 1px solid black; }
            body .wrapper .contentWrapper #rooms a #inquiryBox:hover {
              background-color: #f6bbea;
              color: black; }
            body .wrapper .contentWrapper #rooms a #inquiryBox p {
              font-family: 'Open Sans Condensed', sans-serif;
              text-align: center;
              color: white;
              padding-bottom: 30px; }
              body .wrapper .contentWrapper #rooms a #inquiryBox p:hover {
                color: black; }
  body footer {
    width: 100%; }
    body footer ul li a i {
      color: grey; }
      body footer ul li a i:hover {
        color: #41CCC6; }
    body footer p {
      font-size: 8px; }

.modal .modal-dialog .modal-content .modal-body .narrowPic {
  float: right;
  width: 50%;
  height: auto;
  padding-left: 10px;
  padding-bottom: 10px; }
.modal .modal-dialog .modal-content .modal-body p span {
  display: block; }
  .modal .modal-dialog .modal-content .modal-body p span:first-child {
    font-weight: bolder; }
.modal .modal-dialog .modal-content .contact-list {
  list-style-type: none;
  padding-left: 0px; }
  .modal .modal-dialog .modal-content .contact-list li {
    padding-bottom: 5px; }
    .modal .modal-dialog .modal-content .contact-list li a {
      text-decoration: none;
      color: black;
      padding: 6px;
      border-radius: 5px; }
      .modal .modal-dialog .modal-content .contact-list li a:hover {
        background-color: #FF9AD6;
        color: white; }

#inquiryMod div iframe {
  display: block;
  width: 100%;
  height: 1000px;
  margin: 0 auto; }

@media only screen and (max-width: 768px) {
  body .wrapper header .title {
    font-size: 16px; }
  body .wrapper .contentWrapper #about .aboutSection .aboutText {
    font-size: 14px; }
  body .wrapper .modalDialog > div {
    width: 75%; }
  body footer p {
    font-size: 10px; }
  body footer p {
    font-size: 8px; } }
@media only screen and (max-width: 500px) {
  body .wrapper header {
    margin-top: 19%; }
  body .wrapper .contentWrapper {
    display: block !important; }
    body .wrapper .contentWrapper #rooms a #inquiryBox {
      width: 60px;
      height: 50px;
      font-size: 14px;
      bottom: 10vh;
      right: 2vh; }
    body .wrapper .contentWrapper #about {
      border-bottom: 1px solid #dfdfdf;
      width: 80%;
      margin: 0 auto; }
      body .wrapper .contentWrapper #about .aboutSection {
        margin: 0 auto;
        display: inline-block; }
        body .wrapper .contentWrapper #about .aboutSection h2 {
          margin-bottom: 0px; }
        body .wrapper .contentWrapper #about .aboutSection .aboutIcons {
          margin: 0; }
          body .wrapper .contentWrapper #about .aboutSection .aboutIcons .aboutText {
            font-size: 13px;
            display: inline-block;
            padding-top: 0px;
            width: 50px;
            margin-top: -2%; } }
@media only screen and (min-width: 768px) {
  body .wrapper .contentWrapper #rooms a #inquiryBox {
    width: 100px;
    height: 100px;
    font-size: 28px;
    bottom: 20vh; }
    body .wrapper .contentWrapper #rooms a #inquiryBox p {
      padding-top: 10px; } }
@media only screen and (min-width: 1200px) {
  body .wrapper .contentWrapper #rooms a #inquiryBox {
    width: 130px;
    height: 130px;
    font-size: 28px;
    bottom: 30vh;
    padding-top: 32px; }
  body .wrapper .contentWrapper #about {
    flex: 2; }
    body .wrapper .contentWrapper #about .aboutSection h2 {
      margin-bottom: 6%; }
    body .wrapper .contentWrapper #about .aboutSection .aboutIcons {
      margin-top: 0px; }
      body .wrapper .contentWrapper #about .aboutSection .aboutIcons .aboutText {
        font-size: 22px;
        padding-top: 6%; }
        body .wrapper .contentWrapper #about .aboutSection .aboutIcons .aboutText:first-child {
          margin-top: 0px; } }

/*# sourceMappingURL=style.css.map */
