body {
  font-family: 'Open Sans Condensed', sans-serif !important;
  min-height: 100%;
  display: flex;
  flex-direction: column; }
  body .wrapper {
    flex: 1; }
    body .wrapper nav {
      text-align: center;
      font-size: 10vh;
      background-color: #FFE9E2;
      position: fixed !important;
      width: 100%;
      margin: 0 auto !important;
      padding-bottom: 20px;
      z-index: 999; }
      body .wrapper nav .aboutNav {
        font-size: 20px;
        background-color: #b5d7e1;
        margin: 45px 20px 0px 20px;
        width: 9vh;
        padding: 10px; }
        body .wrapper nav .aboutNav a {
          text-decoration: none;
          color: white; }
          body .wrapper nav .aboutNav a:hover {
            color: black; }
      body .wrapper nav .title {
        text-align: center;
        font-size: 35px;
        letter-spacing: 2px;
        font-weight: lighter; }
      body .wrapper nav .roomsNav {
        font-size: 20px;
        padding: 10px;
        background-color: #b5d7e1;
        color: white;
        margin: 45px 20px 0px 20px;
        width: 9vh; }
        body .wrapper nav .roomsNav a {
          text-decoration: none;
          color: white; }
          body .wrapper nav .roomsNav a:hover {
            color: black; }
    body .wrapper #slideShow {
      padding-top: 100px;
      width: 80%;
      background-color: #fff;
      min-height: 400px; }
      body .wrapper #slideShow .slider {
        width: 100%;
        overflow: hidden;
        height: 300px;
        position: relative; }
        body .wrapper #slideShow .slider button {
          position: absolute;
          display: block;
          box-sizing: border-box;
          border: none;
          outline: none;
          top: 0;
          bottom: 0;
          width: 20%;
          background-color: rgba(0, 0, 0, 0.3);
          color: #fff;
          margin: 0;
          padding: 0;
          text-align: center;
          opacity: 0;
          z-index: 2; }
          body .wrapper #slideShow .slider button.prev {
            left: 0; }
          body .wrapper #slideShow .slider button.next {
            right: 0; }
          body .wrapper #slideShow .slider button:hover {
            opacity: 1.0; }
          body .wrapper #slideShow .slider button:active {
            opacity: 1.0; }
        body .wrapper #slideShow .slider .slides {
          margin: 0;
          padding: 0;
          list-style: none;
          position: absolute;
          width: 300%;
          height: 100%;
          top: 0; }
          body .wrapper #slideShow .slider .slides li {
            padding: 0;
            margin: 0;
            width: 33.333333%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            bottom: 0; }
            body .wrapper #slideShow .slider .slides li img {
              width: 100%;
              border: none;
              min-height: 100%; }
    body .wrapper #rooms {
      margin-top: 40px; }
      body .wrapper #rooms .roomsTitle {
        background-color: #b5d7e1;
        color: white;
        width: 8vh; }
    body .wrapper svg {
      position: absolute;
      width: 100%; }
    body .wrapper #about {
      width: 100%;
      margin-top: 40px; }
      body .wrapper #about .aboutSection {
        display: inline-block;
        margin: 0;
        width: 49%;
        float: left; }
        body .wrapper #about .aboutSection .aboutTitle {
          margin-bottom: 5px; }
        body .wrapper #about .aboutSection hr {
          width: 80%; }
        body .wrapper #about .aboutSection .aboutText {
          border: 1px solid #FFFFFF;
          border-radius: 5px;
          text-decoration: none;
          color: black;
          width: 75px;
          padding: 25px; }
          body .wrapper #about .aboutSection .aboutText:hover {
            cursor: pointer;
            font-size: 25px;
            color: #b5d7e1; }
          body .wrapper #about .aboutSection .aboutText a {
            font-size: 14px; }
      body .wrapper #about .aboutImage {
        display: inline-block;
        width: 45%;
        float: right;
        margin: 5% 5% 5% 0%; }
        body .wrapper #about .aboutImage img {
          max-width: 100%; }
    body .wrapper footer {
      background-color: #FFE9E2;
      width: 100%;
      font-size: 10px; }

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none; }
  .modalDialog:target {
    opacity: 1;
    pointer-events: auto; }
  .modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999); }
    .modalDialog > div .close {
      background: #606061;
      color: #FFFFFF;
      line-height: 25px;
      position: absolute;
      right: -12px;
      text-align: center;
      top: -10px;
      width: 24px;
      text-decoration: none;
      font-weight: bold;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
      -moz-box-shadow: 1px 1px 3px #000;
      -webkit-box-shadow: 1px 1px 3px #000;
      box-shadow: 1px 1px 3px #000; }
      .modalDialog > div .close:hover {
        background: #00d9ff; }

@media only screen and (max-width: 768px) {
  body .wrapper nav .aboutNav {
    font-size: 14px; }
  body .wrapper nav .title {
    font-size: 16px; }
  body .wrapper nav .roomsNav {
    font-size: 14px; }
  body .wrapper #about .aboutSection {
    width: 100%;
    float: none; }
  body .wrapper #about .aboutImage {
    display: none; }
  body .wrapper .modalDialog > div {
    width: 75%; } }

/*# sourceMappingURL=style.css.map */
