body {
	 font-family: 'Open Sans Condensed', sans-serif !important;
	 // background-color: #ccc !important;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	.wrapper {
		flex: 1;
		nav {
			text-align: center;
			font-size: 10vh;
			background-color: #FFE9E2;
			position: fixed !important;
			width: 100%;
			// height: 100px;
			margin: 0 auto !important;
			padding-bottom: 20px;
			// margin-top: -30px;
			z-index: 999;

			.aboutNav {
				font-size: 20px;

				background-color: rgb(181, 215, 225);
				margin: 45px 20px 0px 20px;
				width: 9vh;
				padding: 10px;
				a {
					text-decoration: none;
					color: white;
					&:hover {
						color: black;
					}
				}
			}
			.title {
				text-align: center;
				font-size: 35px;
				letter-spacing: 2px;
				font-weight: lighter;

				// margin-top: 10px;
			}
			.roomsNav {
				font-size: 20px;
				padding: 10px;

				background-color: rgb(181, 215, 225);
				color: white;
				margin: 45px 20px 0px 20px;
				width: 9vh;
				a {
					text-decoration: none;
					color: white;
					&:hover {
						color: black;
					}
				}
			}
		}
		#slideShow {
			padding-top: 100px;
			width: 80%;
			background-color: #fff;
			min-height: 400px;
			.slider {
				width: 100%;
				overflow: hidden;
				height: 300px;
				position: relative;
				button {
					position: absolute;
					display: block;
					box-sizing: border-box;
					border: none;
					outline: none;
					top: 0;
					bottom: 0;
					width: 20%;
					background-color: rgba(0, 0, 0, 0.3);
					color: #fff;
					margin: 0;
					padding: 0;
					text-align:center;
					opacity: 0;
					z-index: 2;
					&.prev {
						left: 0;
					}
					&.next {
						right: 0;
					}
					&:hover {
						opacity: 1.0;
					}
					&:active {
						opacity: 1.0;
					}
				}
				.slides {
					margin: 0;
					padding: 0;
					list-style: none;
					position: absolute;
					width: 300%;
					height: 100%;
					top: 0;
					li {
						padding: 0;
						margin: 0;
						width: 33.333333%;
						height: 100%;
						overflow: hidden;
						position: absolute;
						top: 0;
						bottom: 0;
						img {
							width: 100%;
		  					border: none;
							min-height: 100%;
						}
					}
				}
			}
		}
		#rooms {
			margin-top: 40px;
			.roomsTitle {
				background-color: rgb(181, 215, 225);
				color: white;
				width: 8vh;
			}
			.roomsImage {
				// width: 100%;
				// text-align: center;
				// margin: 0 auto;
				// margin-top: 40px;
			}
		}

		svg {
			position: absolute;
			width: 100%;
			// padding: 0 4% 1% 0;
			// // display: block;
			// // width: 100%;
			// text-align: center;
			// margin: 0 auto;
			// margin-top: 40px;
			// width: auto;
			// height: auto;
			// background-color: .05 blue;


		}


		#about {
			// text-align: center;
			width: 90%;
			margin-top: 40px;
			.aboutSection {
				display: inline-block;
				margin: 0;
				width: 49%;
				float: left;
				.aboutTitle {
					margin-bottom: 5px;
				}
				.aboutText {
					font-size: 14px;
					margin-bottom: 10px;
					background-color: rgb(181, 215, 225);
					// color: #FFFFFF;
					border: 1px solid #FFFFFF;
					border-radius: 5px;
					// text-transform: uppercase;
					font-weight: lighter;
					text-align: left;
					font-size: 12px;
				}
			}
			.aboutImage {
				display: inline-block;
				width: 49%;
				float: right;
				margin-top: 5%;
				margin-bottom: 8vh;
				img {
					max-width: 100%;
				}
			}
		}
		.modal {
			.modal-dialog {
				width: 60%;
				position: absolute;
				bottom: 10%;
				right: 0;
				margin-right: 20px;
				.modal-content {
					padding: 10px;
					p {
						display: inline-block;
						width: 60%;
						height: auto;
						max-height: 200px;
					}
					img {
						width: 39%;
						border-radius: 10%;
						display: inline-block;
						height: auto;
						max-height: 130px;
					}
				}
			}
		}
		footer {
			background-color: #FFE9E2;
			// position: relative;
			// height: 60px;
			width: 100%;
			// bottom: 0;
			// margin-top: 20px !important;
			// padding-top: 10px !important;
			// padding-top: 15px;
			font-size: 10px;
			.text-center {
				// margin-top: 20px;
			}
		}
	}
}

@media only screen and (max-width:768px) {
	body {
		.wrapper {
			nav {
				.aboutNav {
					font-size: 14px;
				}
				.title {
					font-size: 16px;
				}
				.roomsNav {
					font-size: 14px;
				}
			}
		}
	}
	.modal {
		.modal-dialog {
			.modal-content {
				background-color: yellow;
				img {
					width: 200px !important;
					height: auto;
				}
			}
		}
	}
}
