body {
  font-family: 'Open Sans Condensed', sans-serif !important;
  min-height: 100%;
  display: flex;
  flex-direction: column; }
  body .wrapper {
    flex: 1; }
    body .wrapper nav {
      text-align: center;
      background-color: transparent;
      position: absolute;
      margin-top: 26%;
      width: 70%;
      z-index: 999; }
      body .wrapper nav .title {
        text-align: center;
        font-size: 35px;
        letter-spacing: 10px;
        font-weight: lighter;
        color: white; }
    body .wrapper .mainCarousel {
      margin-top: -75px; }
      body .wrapper .mainCarousel .item img {
        margin: 0 auto;
        width: 100%; }
    body .wrapper #rooms {
      margin-top: 40px; }
      body .wrapper #rooms .background {
        position: relative;
        z-index: 1;
        font-size: 20px; }
        body .wrapper #rooms .background:before {
          border-top: 1px solid #dfdfdf;
          content: "";
          margin: 0 auto;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          bottom: 0;
          width: 80%;
          z-index: -1; }
        body .wrapper #rooms .background span {
          background: #fff;
          padding: 0 15px; }
      body .wrapper #rooms object {
        width: 70%;
        margin: auto;
        display: block;
        height: auto;
        position: relative; }
        body .wrapper #rooms object svg {
          position: absolute;
          width: 100%;
          height: 100%; }
          body .wrapper #rooms object svg .roomSVGs {
            opacity: 0.4;
            position: absolute;
            fill: #FF6BE2; }
            body .wrapper #rooms object svg .roomSVGs:hover {
              fill: #b5d7e1; }
      body .wrapper #rooms a {
        text-decoration: none; }
        body .wrapper #rooms a #inquiryBox {
          background-color: #b5d7e1;
          width: 60px;
          height: 50px;
          position: relative;
          bottom: 15vh;
          padding-top: 20px;
          padding-bottom: 40px;
          border-radius: 50%;
          float: left;
          border: 1px solid lightgrey; }
          body .wrapper #rooms a #inquiryBox:hover {
            background-color: #f6bbea;
            color: black; }
          body .wrapper #rooms a #inquiryBox p {
            font-family: 'Open Sans Condensed', sans-serif;
            text-align: center;
            color: white;
            padding-bottom: 30px; }
            body .wrapper #rooms a #inquiryBox p:hover {
              color: black; }
    body .wrapper #about {
      width: 100%;
      margin-top: 40px;
      margin-bottom: 20px; }
      body .wrapper #about .aboutSection {
        display: inline-block;
        margin: 0;
        width: 100%; }
        body .wrapper #about .aboutSection .background {
          position: relative;
          z-index: 1;
          font-size: 20px; }
          body .wrapper #about .aboutSection .background:before {
            border-top: 1px solid #dfdfdf;
            content: "";
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            bottom: 0;
            width: 80%;
            z-index: -1; }
          body .wrapper #about .aboutSection .background span {
            background: #fff;
            padding: 0 15px; }
        body .wrapper #about .aboutSection .aboutText {
          border: 1px solid #FFFFFF;
          border-radius: 5px;
          text-decoration: none;
          color: black;
          width: 75px;
          padding: 25px; }
          body .wrapper #about .aboutSection .aboutText:hover {
            cursor: pointer;
            font-size: 25px;
            color: #b5d7e1; }
          body .wrapper #about .aboutSection .aboutText a {
            font-size: 14px; }
    body .wrapper footer {
      background-color: #FFE9E2;
      width: 100%;
      font-size: 10px; }

#InquiryMod div {
  width: 80%;
  height: 60%; }
  #InquiryMod div iframe {
    width: 100%;
    height: 100%;
    margin: 0 auto; }

.close {
  position: fixed; }

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  font-family: 'Open Sans Condensed', sans-serif; }
  .modalDialog:target {
    opacity: 1;
    pointer-events: auto; }
  .modalDialog > .roomModal {
    background: white; }
    .modalDialog > .roomModal p {
      margin-top: 10px;
      font-size: 2vh; }
  .modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    max-height: calc(100vh - 110px);
    overflow: auto;
    margin-bottom: 20px;
    background: white; }
    .modalDialog > div .narrowPic {
      float: right;
      width: 50%;
      height: auto;
      padding-left: 10px;
      padding-bottom: 10px; }
    .modalDialog > div p span {
      display: block; }
      .modalDialog > div p span:first-child {
        font-weight: bolder; }
    .modalDialog > div .close {
      background: #FF6BE2;
      color: #FFFFFF;
      line-height: 50px;
      position: fixed;
      right: 4px;
      text-align: center;
      top: 4px;
      font-size: 50px;
      width: 50px;
      height: 50px;
      text-decoration: none;
      font-weight: bold;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -moz-box-shadow: 1px 1px 3px #000;
      -webkit-box-shadow: 1px 1px 3px #000;
      box-shadow: 1px 1px 3px #000; }
      .modalDialog > div .close:hover {
        background: #b5d7e1;
        color: black; }

@media only screen and (max-width: 768px) {
  body .wrapper nav .title {
    font-size: 16px; }
  body .wrapper .modalDialog > div {
    width: 75%; } }
@media only screen and (min-width: 768px) {
  body .wrapper #rooms .background {
    font-size: 30px; }
  body .wrapper #rooms a #inquiryBox {
    width: 100px;
    height: 100px;
    font-size: 28px;
    bottom: 20vh; }
    body .wrapper #rooms a #inquiryBox p {
      padding-top: 10px; }
  body .wrapper #about .aboutSection .background {
    font-size: 30px; }

  .modalDialog > div {
    height: 70%;
    width: 45%; } }
@media only screen and (min-width: 1078px) {
  body .wrapper #rooms a #inquiryBox {
    width: 145px;
    height: 145px;
    font-size: 28px;
    bottom: 30vh;
    padding-top: 40px; } }

/*# sourceMappingURL=style.css.map */
