body {
	 font-family: 'Open Sans Condensed', sans-serif !important;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	.wrapper {
		flex: 1;
		header {
			text-align: center;
			background-color: transparent;
			position: absolute;
			margin-top: 26%;
			width: 100%;
			z-index: 999;
			.title {
				width: 70%;
				margin: 0 auto;
				padding: 0 auto;
				text-align: center;
				font-size: 35px;
				letter-spacing: 10px;
				font-weight: lighter;
				color: white;
			}
		}
		.mainCarousel {
			margin-top: -75px;
			.item {
				img {
					margin: 0 auto;
    				width: 100%;
				}
			}
		}
		.contentWrapper {
			display: flex;
			flex-direction: row;
			#about {
				flex: 1;
				margin-top: 40px;
				margin-bottom: 20px;
				.aboutSection {
					width: 100%;
					h2 {
						font-size: 21px;
						margin-bottom: 10%;
					}
					.aboutIcons {
						margin-top: 20px;
						.aboutText {
							border: 1px solid #FFFFFF;
							border-radius: 5px;
							text-decoration: none;
							color: black;
							width: 75px;
							padding: 25px;
							padding-top: 10%;
							display: block;
							margin: 0 auto;
							margin-top: 8%;
							font-size: 20px;
							&:first-child {
								margin-top: 30px;
							}
							&:hover {
								cursor: pointer;
								color: #41CCC6;
							}
						}
					}
				}
			}
			#rooms {
				border-left: 1px solid #dfdfdf;
				flex: 3;
				margin-top: 40px;
				h2 {
					font-size: 21px;
				}
				object {
					width: 70%;
					margin: auto;
					display: block;
					height: auto;
					position: relative;
					svg {
						position: absolute;
						width: 100%;
						height: 100%;
						display: block;
						.roomSVGs{
							cursor: pointer;
							opacity: 0.4;
							position:absolute;
							fill: #FF6BE2;
							&:hover {
								fill: rgb(181, 215, 225);
							}
						}
					}
				}
				a {
					text-decoration: none;
					cursor: pointer;
					#inquiryBox {
						background-color: #41CCC6;
						width: 60px;
						height: 50px;
						position: relative;
						bottom: 15vh;
						padding-top: 20px;
						padding-bottom: 40px;
						border-radius: 50%;
						float: left;
						border: 1px solid black;
						&:hover {
							background-color: rgb(246,187,234);
							color: black;
						}
						p {
		 					font-family: 'Open Sans Condensed', sans-serif;
		 					text-align: center;
							color: white;
							padding-bottom: 30px;
							&:hover {
								color: black;
							}
						}
					}
				}
			}
		}
	}
	footer {
		width: 100%;
		ul {
			li {
				a {
					i {
						color: grey;
						&:hover {
							color: #41CCC6;
						}
					}
				}
			}
		}
		p {
			font-size: 8px;
		}
	}
}

// Modal Styles

.modal {
	.modal-dialog {
		.modal-content {
			.modal-body {
				.narrowPic {
					float: right;
					width: 50%;
					height: auto;
					padding-left: 10px;
					padding-bottom: 10px;
				}
				p {
					span {
						display: block;
						&:first-child {
							font-weight: bolder;
						}
					}
				}
			}
		}
	}
}

/// Inquiry Styles


#inquiryMod {
	div {
		iframe {
			display: block;
			width: 100%;
			height: 1000px;
			margin: 0 auto;
		}
	}
}


@media only screen and (max-width:768px) {
	body {
		.wrapper {
			header {
				.title {
					font-size: 16px;
				}
			}
			.contentWrapper {
				#about {
					.aboutSection {
						.aboutText {
							font-size: 14px;
							&:hover {

							}
						}
					}
				}
			}
			.modalDialog {
				& > div {
					width: 75%;
				}
			}
		}
		footer {
			p {
				font-size: 10px;
			}

		}
		footer {
			p {
				font-size: 8px;
			}
		}
	}
}

@media only screen and (max-width:500px) {
	body {
		.wrapper {
			header {
				margin-top: 19%;
			}
			.contentWrapper {
				display: block !important;
				#rooms {
					a {
						#inquiryBox {
							width: 60px;
							height: 50px;
							font-size: 14px;
							bottom: 10vh;
							right: 2vh;
						}
					}
				}
				#about {
					border-bottom: 1px solid #dfdfdf;
					width: 80%;
					margin: 0 auto;
					.aboutSection {
						margin: 0 auto;
						display: inline-block;
						h2 {
							margin-bottom: 0px;
						}
						.aboutIcons {
							margin: 0;
							.aboutText {
								font-size: 13px;
								display: inline-block;
								padding-top: 0px;
								// padding: 0;
								// margin: 0;
								width: 50px;
								margin-top: -2%;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width:768px) {
	body {
		.wrapper {
			.contentWrapper {
				#rooms {
					a {
						#inquiryBox {
							width: 100px;
							height: 100px;
							font-size: 28px;
							bottom: 20vh;
							p {
								padding-top: 10px;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width:1200px) {
	body {
		.wrapper {
			.contentWrapper {
				#rooms {
					a {
						#inquiryBox {
							width: 130px;
							height: 130px;
							font-size: 28px;
							bottom: 30vh;
							padding-top: 32px;
						}
					}
				}
				#about {
					flex: 2;
					.aboutSection {
						h2 {
							margin-bottom: 6%;
						}
						.aboutIcons {
							margin-top: 0px;
							.aboutText {
								font-size: 22px;
								padding-top: 6%;
								&:first-child {
									margin-top: 0px;
								}
							}
						}
					}
				}
			}
		}
	}
}
