body {
  font-family: 'Open Sans Condensed', sans-serif !important;
  min-height: 100%;
  display: flex;
  flex-direction: column; }
  body .wrapper {
    flex: 1; }
    body .wrapper header {
      text-align: center;
      background-color: transparent;
      position: absolute;
      margin-top: 26%;
      width: 100%;
      z-index: 999; }
      body .wrapper header .title {
        width: 70%;
        margin: 0 auto;
        padding: 0 auto;
        text-align: center;
        font-size: 35px;
        letter-spacing: 10px;
        font-weight: lighter;
        color: white; }
    body .wrapper .mainCarousel {
      margin-top: -75px; }
      body .wrapper .mainCarousel .item img {
        margin: 0 auto;
        width: 100%; }
    body .wrapper .contentWrapper {
      display: flex;
      flex-direction: row; }
      body .wrapper .contentWrapper #rooms {
        border-right: 1px solid #dfdfdf;
        flex: 3;
        margin-top: 40px; }
        body .wrapper .contentWrapper #rooms h2 {
          font-size: 21px; }
        body .wrapper .contentWrapper #rooms object {
          width: 70%;
          margin: auto;
          display: block;
          height: auto;
          position: relative; }
          body .wrapper .contentWrapper #rooms object svg {
            position: absolute;
            width: 100%;
            height: 100%;
            display: block; }
            body .wrapper .contentWrapper #rooms object svg .roomSVGs {
              opacity: 0.4;
              position: absolute;
              fill: #FF6BE2; }
              body .wrapper .contentWrapper #rooms object svg .roomSVGs:hover {
                fill: #b5d7e1; }
        body .wrapper .contentWrapper #rooms a {
          text-decoration: none; }
          body .wrapper .contentWrapper #rooms a #inquiryBox {
            background-color: #41CCC6;
            width: 60px;
            height: 50px;
            position: relative;
            bottom: 15vh;
            padding-top: 20px;
            padding-bottom: 40px;
            border-radius: 50%;
            float: left;
            border: 1px solid black; }
            body .wrapper .contentWrapper #rooms a #inquiryBox:hover {
              background-color: #f6bbea;
              color: black; }
            body .wrapper .contentWrapper #rooms a #inquiryBox p {
              font-family: 'Open Sans Condensed', sans-serif;
              text-align: center;
              color: white;
              padding-bottom: 30px; }
              body .wrapper .contentWrapper #rooms a #inquiryBox p:hover {
                color: black; }
      body .wrapper .contentWrapper #about {
        flex: 1;
        margin-top: 40px;
        margin-bottom: 20px; }
        body .wrapper .contentWrapper #about .aboutSection {
          width: 100%; }
          body .wrapper .contentWrapper #about .aboutSection h2 {
            font-size: 21px;
            margin-bottom: 10%; }
          body .wrapper .contentWrapper #about .aboutSection .aboutText {
            border: 1px solid #FFFFFF;
            border-radius: 5px;
            text-decoration: none;
            color: black;
            width: 75px;
            padding: 25px;
            padding-top: 10%;
            display: block;
            margin: 0 auto;
            font-size: 20px; }
            body .wrapper .contentWrapper #about .aboutSection .aboutText:hover {
              cursor: pointer;
              color: #41CCC6; }
  body footer {
    width: 100%; }
    body footer ul li a i {
      color: grey; }
      body footer ul li a i:hover {
        color: #41CCC6; }
    body footer p {
      font-size: 8px; }

#InquiryMod div {
  width: 80%;
  height: 60%; }
  #InquiryMod div iframe {
    width: 100%;
    height: 100%;
    margin: 0 auto; }

.close {
  position: fixed; }

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  font-family: 'Open Sans Condensed', sans-serif; }
  .modalDialog:target {
    opacity: 1;
    pointer-events: auto; }
  .modalDialog > .roomModal {
    background: white; }
    .modalDialog > .roomModal p {
      margin-top: 10px;
      font-size: 2vh; }
  .modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    max-height: calc(100vh - 110px);
    overflow: auto;
    margin-bottom: 20px;
    background: white; }
    .modalDialog > div .narrowPic {
      float: right;
      width: 50%;
      height: auto;
      padding-left: 10px;
      padding-bottom: 10px; }
    .modalDialog > div p span {
      display: block; }
      .modalDialog > div p span:first-child {
        font-weight: bolder; }
    .modalDialog > div .close {
      background: #FF6BE2;
      color: #FFFFFF;
      line-height: 50px;
      position: fixed;
      right: 4px;
      text-align: center;
      top: 4px;
      font-size: 50px;
      width: 50px;
      height: 50px;
      text-decoration: none;
      font-weight: bold;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -moz-box-shadow: 1px 1px 3px #000;
      -webkit-box-shadow: 1px 1px 3px #000;
      box-shadow: 1px 1px 3px #000; }
      .modalDialog > div .close:hover {
        background: #b5d7e1;
        color: black; }

@media only screen and (max-width: 768px) {
  body .wrapper header .title {
    font-size: 16px; }
  body .wrapper .contentWrapper #about .aboutSection .aboutText {
    font-size: 14px; }
  body .wrapper .modalDialog > div {
    width: 75%; }
  body footer p {
    font-size: 10px; } }
@media only screen and (max-width: 768px) {
  body .wrapper .contentWrapper #rooms a #inquiryBox {
    width: 60px;
    height: 50px;
    font-size: 14px;
    bottom: 10vh;
    right: 2vh; } }
@media only screen and (min-width: 768px) {
  body .wrapper .contentWrapper #rooms a #inquiryBox {
    width: 100px;
    height: 100px;
    font-size: 28px;
    bottom: 20vh; }
    body .wrapper .contentWrapper #rooms a #inquiryBox p {
      padding-top: 10px; }

  .modalDialog > div {
    height: 70%;
    width: 45%; } }
@media only screen and (min-width: 1078px) {
  body .wrapper .contentWrapper #rooms a #inquiryBox {
    width: 145px;
    height: 145px;
    font-size: 28px;
    bottom: 30vh;
    padding-top: 40px; }
  body .wrapper .contentWrapper #about {
    flex: 2; } }

/*# sourceMappingURL=style.css.map */
